<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- MySQL Configuration -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/musephoria</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.search.autoregister_listeners">false</property>
		<property name="hibernate.validator.apply_to_ddl">false</property>
		<property name="hibernate.show.sql">true</property>
		<property name="format_sql">true</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">managed</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<!-- Hibernate Pooling Configuration -->
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">50</property>
		<property name="hibernate.c3p0.timeout">300</property>
		<property name="hibernate.c3p0.max_statements">30</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>

		<!-- Enity Class Mapping -->
		<mapping class="com.musephoria.entity.Cd" />
		<mapping class="com.musephoria.entity.Customer" />
		<mapping class="com.musephoria.entity.Paymentinfo" />
		<mapping class="com.musephoria.entity.Purchaseorder" />
		<mapping class="com.musephoria.entity.Shipping" />
		<mapping class="com.musephoria.entity.Purchaseorderitem" />


	</session-factory>
</hibernate-configuration>
