<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>MusephoriaDevelopment</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<!-- <welcome-file>Home.jsp</welcome-file> -->
		<welcome-file>/axis2-web/index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<display-name>Apache-Axis Servlet</display-name>
		<servlet-name>AxisServlet</servlet-name>
		<servlet-class>org.apache.axis2.transport.http.AxisServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/servlet/AxisServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>*.jws</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>Apache-Axis Admin Servlet Web Admin</display-name>
		<servlet-name>AxisAdminServlet</servlet-name>
		<servlet-class>org.apache.axis2.transport.http.AxisAdminServlet</servlet-class>
		<load-on-startup>100</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AxisAdminServlet</servlet-name>
		<url-pattern>/axis2-admin/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>NewCustomer</display-name>
		<servlet-name>NewCustomer</servlet-name>
		<servlet-class>com.musephoria.controller.NewCustomer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewCustomer</servlet-name>
		<url-pattern>/NewCustomer</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>This class fetches all the cd's from the database.</description>
		<display-name>ProductCatalogue</display-name>
		<servlet-name>ProductCatalogue</servlet-name>
		<servlet-class>com.musephoria.controller.ProductCatalogue</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductCatalogue</servlet-name>
		<url-pattern>/ProductCatalogue</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Control comes here when a user clicks on a particular cd to view its details.</description>
		<display-name>ProductDetail</display-name>
		<servlet-name>ProductDetail</servlet-name>
		<servlet-class>com.musephoria.controller.ProductDetail</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductDetail</servlet-name>
		<url-pattern>/ProductDetail</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Manages the shopping cart for visitors and registered users</description>
		<display-name>Cart</display-name>
		<servlet-name>Cart</servlet-name>
		<servlet-class>com.musephoria.controller.Cart</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Cart</servlet-name>
		<url-pattern>/Cart</url-pattern>
		<url-pattern>/RemoveFromCart</url-pattern>
		<url-pattern>/AddToCart</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.musephoria.controller.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>OrderCheckOut</display-name>
		<servlet-name>OrderCheckOut</servlet-name>
		<servlet-class>com.musephoria.controller.OrderCheckOut</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderCheckOut</servlet-name>
		<url-pattern>/OrderCheckOut</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.musephoria.controller.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PaymentAuthorization</display-name>
		<servlet-name>PaymentAuthorization</servlet-name>
		<servlet-class>com.musephoria.controller.PaymentAuthorization</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PaymentAuthorization</servlet-name>
		<url-pattern>/PaymentAuthorization</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PlaceOrder</display-name>
		<servlet-name>PlaceOrder</servlet-name>
		<servlet-class>com.musephoria.controller.PlaceOrder</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PlaceOrder</servlet-name>
		<url-pattern>/PlaceOrder</url-pattern>
	</servlet-mapping>

	<!-- <security-constraint> <web-resource-collection> <web-resource-name>securedapp</web-resource-name> 
		<url-pattern>/*</url-pattern> </web-resource-collection> <user-data-constraint> 
		<transport-guarantee>CONFIDENTIAL</transport-guarantee> </user-data-constraint> 
		</security-constraint> -->

</web-app>
